@keyframes loader_dots{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.loader {
    top: 0;
    left: 0;
    z-index: 9999;
    color: rgba(0, 0, 0, 0.6);
}

.loader_text {
    user-select: none;
}

.loader_text span {
    animation: loader_dots 1.5s infinite;
    font-size: 150%;
}

.loader_text span:nth-child(2) {
    animation-delay: 0.25s;
}
.loader_text span:nth-child(3) {
    animation-delay: 0.5s;
}