html {
    min-width: 100%;
    min-height: 100%;
}

body {
    background: radial-gradient(transparent, #cecece);
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
}

::placeholder {
    color: rgb(117, 117, 117) !important;
    opacity: 1 !important;
}

input {
    outline: none !important;
    padding: 0.5rem;
}

ul {
    list-style: none !important;
    margin-bottom: 0;
    padding: 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
    color: white !important;
    text-decoration: none !important;
}

textarea {
    resize: none !important;
    display: block;
    overflow: hidden;
    outline: none !important;
}