.name {
    font-size: 20px;
}

.card {
    border-radius: 0.5rem;
    width: 321px;
    user-select: none;
}

.descr_container {
    position: relative;
    z-index: 9999;
    backdrop-filter: blur(10px);
    background-color: #24242410;
    padding: 32px;
    border-radius: 0.5rem;
    border: 1px solid;
}

.odd {
    border-color: #FF5A5A;
}

.even {
    border-color: #E6FF83;
}

.planet {
    width: 80px;
    height: 80px;
    bottom: -20px;
    left: -40px;
    z-index: 9000;
}

.planet_even {
    background: linear-gradient(0deg, rgba(230, 255, 131, 0), #E6FF83);
}

.planet_odd {
    background: linear-gradient(0deg, rgba(255, 90, 90, 0), #FF5A5A);
}

.star {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    margin: 0;
    outline: none !important;
    border-radius: 50%;
    transition: 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star_even:focus {
    box-shadow: 0 0 0 0.2rem #E6FF8370;
}

.star_odd:focus {
    box-shadow: 0 0 0 0.2rem #FF5A5A70;
}

.star svg path {
    transition: 0.15s;
}

.star_even:hover svg path {
    fill: #E6FF8370;
}

.star_odd:hover svg path {
    fill: #FF5A5A70;
}

.info_block {
    font-size: 16px;
}

.info_block span:nth-child(1) {
    font-weight: 600;  
}

.info_block span:nth-child(2) {
    font-weight: 300;  
}

.star_filled_even {
    fill: #E6FF83 !important;
}

.star_filled_odd {
    fill: #FF5A5A !important;
}