.logo {
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    user-select: none !important;
}

.logo span {
    font-size: 150%;
    letter-spacing: 0.1rem;
}

.logo svg {
    position: absolute;
    top: 10%;
    font-size: 120%;
}

nav {
    background: transparent;
}

.nav_item {
    color: white !important;
    opacity: 0.7;
    outline: none !important;
    transition: opacity 0.3s;
    cursor: pointer;
    text-decoration: none !important;
    font-weight: bold;
}

.nav_item:hover,
.nav_item:focus {
    opacity: 1;
}

.dropdown {
    cursor: pointer;
}

.dropdown_title {
    opacity: 0.7;
    transition: opacity 0.3s;
    color: #18191A;
    outline: none !important;
    user-select: none;
    font-size: 125%;
}

.dropdown_title_active {
    opacity: 1 !important;
}

.dropdown_title:hover,
.dropdown_title:focus {
    opacity: 1;
}

.dropdown_list {
    background: #18191A;
    border: 1px solid #cecece;
    color: white;
    transition: 0.3s;
    z-index: 9999;
    right: 0;
    overflow: hidden;
    position: absolute;
}

@media only screen and (max-width: 450px) {
    .dropdown_list {
        position: fixed;
        bottom: 0 !important;
        width: 100%;
    }

    .dropdown_list li {
        text-align: center;
    }
}

.dropdown_list li {
    opacity: 0.7;
    transition: opacity 0.3s;
    outline: none !important;
}

.dropdown_list li svg{
    width: 20px !important;
    text-align: center;
}

.dropdown_list li:hover,
.dropdown_list li:focus {
    opacity: 1;
}

.profile_image {
    width: 50px;
    height: 50px;
}