.logo {
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
}

.logo:hover > div:nth-child(2) > div:nth-child(1),
.logo:focus > div:nth-child(2) > div:nth-child(1) {
    transform: rotate(-30deg) !important;
}

.logo:hover > div:nth-child(2) > div:nth-child(2),
.logo:focus > div:nth-child(2) > div:nth-child(2) {
    transform: rotate(30deg) !important;
}

.logo_text {
    font-size: 230%;
    z-index: 100;
    user-select: none;
}

.logo_text span:nth-child(2) {
    color: transparent;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    background: linear-gradient(90deg, black, rgb(220, 53, 69));
}

nav {
    background: linear-gradient(black, rgb(220, 53, 69));
}

.nav_item {
    color: white !important;
    opacity: 0.7;
    outline: none !important;
    transition: opacity 0.3s;
    cursor: pointer;
    text-decoration: none !important;
    font-weight: bold;
}

.nav_item:hover,
.nav_item:focus {
    opacity: 1;
}

.modal_header_btn {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
    outline: none !important;
}

.modal_header_btn:hover,
.modal_header_btn:focus {
    opacity: 1;
}

.pass_revealer {
    width: 24px;
    cursor: pointer;
    outline: none !important;
    color: rgba(33, 37, 41, 0.6);
    height: inherit;
}

.pass_revealer:hover {
    color: rgba(33, 37, 41, 0.4);
}

.pass_revealer:focus {
    color: rgb(33, 37, 41);
}

.pass_revealer_invalid {
    color: rgba(189, 33, 49, 0.6);
}

.pass_revealer_invalid:hover {
    color: rgba(189, 33, 49, 0.4);
}
.pass_revealer_invalid:focus {
    color: rgb(189, 33, 49);
}

.pass_container {
    border: 0.5px solid black;
}

.pass_container_error:focus-within {
    box-shadow: 0 0 0.5rem 0.20rem #a71d2b !important;
}

.pass_container:focus-within {
    box-shadow: 0 0 0.5rem 0.20rem #00000090;
    transform: translate(5px, -5px);
    transition: 0.3s;
}

.pass {
    outline: none !important;
}

.errors {
    transition: 0.15s;
    color: #A71D2B;
}

.dropdown {
    cursor: pointer;
}

.dropdown_title {
    opacity: 0.7;
    transition: opacity 0.3s;
    color: white;
    outline: none !important;
    user-select: none;
}

.dropdown_title_active {
    opacity: 1 !important;
}

.dropdown_title:hover,
.dropdown_title:focus {
    opacity: 1;
}

.dropdown_list {
    background: linear-gradient(rgb(220, 53, 69), black);
    color: white;
    transition: 0.3s;
    z-index: 9999;
    right: 0;
    overflow: hidden;
    position: absolute;
}

@media only screen and (max-width: 450px) {
    .dropdown_list {
        position: fixed;
        bottom: 0 !important;
        width: 100%;
    }

    .dropdown_list li {
        text-align: center;
    }
}

.dropdown_list li {
    opacity: 0.7;
    transition: opacity 0.3s;
    outline: none !important;
}

.dropdown_list li svg{
    width: 20px !important;
    text-align: center;
}

.dropdown_list li:hover,
.dropdown_list li:focus {
    opacity: 1;
}