.container {
    outline: none !important;
    cursor: pointer;
}

.label {
    user-select: none;
}

.checkbox {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    transition: 0.3s;
}

.checkbox svg {
    transition: 0.15s;
}

.container:focus .checkbox {
    box-shadow: 0 0 0.5rem 0.10rem #00000090;
}

.not_active {
    opacity: 0;
}

.container:hover .checkbox .not_active {
    opacity: 0.3;
    visibility: visible !important;
}