.player_container {
    z-index: 9000;
    transition: 0.3s;
    width: 100px;
}

.cards_container {
    transition: 0.5s;
}

.standard_bg {
    background: linear-gradient(black, rgb(220, 53, 69));
}

.empty_seat {
    user-select: none;
    cursor: default;
    opacity: 0.7;
}

.player_mobile {
    transform: scale(0.75);
    max-width: 105px;
}