.absolute_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.w_fit {
    width: fit-content !important;
}

.modal {
    background: #24252660;
    z-index: 9999;
}

.modal_form {
    width: 25%;
    transition: 0.5s;
    min-width: 400px;
}

@media only screen and (max-width: 500px) {
    .modal_form {
        width: 90%;
        min-width: 300px;
    }
}

.modal_header {
    background: #3E4042;;
    font-size: 120%;
}

.text_btn {
    transition: 0.15s;
    font-weight: 400;
    font-size: 105%;
    outline: none !important;
    cursor: pointer;
    user-select: none !important;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.text_btn:hover {
    opacity: 0.7;
}

.text_btn:focus {
    font-weight: 700;
    opacity: 1;
}

.btn {
    background: transparent;
    border: 1px solid black;
    outline: none !important;
    transition: 0.3s;
}

.transition_15 {
    transition: 0.15s;
}

.disabled_input {
    color: rgb(117, 117, 117);
    cursor: not-allowed;
    background: #F2F2F2 !important;
}